@import '../variableGeneral.scss';

.hero{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .logoHero{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title{
        color: #fff;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
    }
    .continerButtonsHero{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .active{
        span{
            background-color: #6B63B5 !important;
        }
    }

    @include small {   
        .title{
            font-size: 18px;
        } 
        .continerButtonsHero{
            gap: 1rem;
        }
       .btnHero{
           font-size: 13px;
       }
     }
}
